In [9]:
import pandas as pd
xchange =pd.read_csv("Exchange_Rates.csv")
products = pd.read_csv("Products.csv")
sales_data = pd.read_csv("Sales.csv")
location = pd.read_csv("stores.csv")
customer_info = pd.read_csv("Customers.csv",encoding='cp1252')

In [56]:
sales_data = pd.read_csv("Sales.csv")

In [68]:
location = pd.read_csv("stores.csv")

In [79]:
customer_info = pd.read_csv("Customers.csv",encoding='cp1252')

In [10]:
def empty_values(df):
    null_rows = df[df.isnull().any(axis=1)]
    print(null_rows)
    print(len(null_rows))

In [11]:
empty_values(xchange)

Empty DataFrame
Columns: [Date, Currency, Exchange]
Index: []
0

In [15]:
xchange.dtypes

Date        datetime64[ns]
Currency            object
Exchange           float64
dtype: object

In [14]:
xchange['Date']=pd.to_datetime(xchange['Date'],errors = 'coerce')

#df4['Match Date']= df4['Match Date'].apply(lambda x: pd.Timestamp(x).strftime('%b-%d-%Y'))
#df4['Match Date']= pd.to_datetime(df4['Match Date'], format = '%b-%d-%Y')

In [17]:
empty_values(products)

Empty DataFrame
Columns: [ProductKey, Product Name, Brand, Color, Unit Cost USD, Unit Price USD, SubcategoryKey, Subcategory, CategoryKey, Category]
Index: []
0

In [18]:
products.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

In [22]:
# unit cost, unit price need to change to numeric
products['Unit Cost USD']=products['Unit Cost USD'].str.replace(',','')
products['Unit Cost USD']=products['Unit Cost USD'].str.replace('$','')
products['Unit Price USD']=products['Unit Price USD'].str.replace(',','')
products['Unit Price USD']=products['Unit Price USD'].str.replace('$','')
products['Unit Cost USD']=pd.to_numeric(products['Unit Cost USD'])
products['Unit Price USD']=pd.to_numeric(products['Unit Price USD'])

In [24]:
products.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [57]:
empty_values(sales_data)

       Order Number  Line Item Order Date Delivery Date  CustomerKey  \
0            366000          1   1/1/2016           NaN       265598
6            366004          1   1/1/2016           NaN      1107461
7            366004          2   1/1/2016           NaN      1107461
8            366005          1   1/1/2016           NaN       844003
9            366007          1   1/1/2016           NaN      2035771
...             ...        ...        ...           ...          ...
62867       2243025          1  2/20/2021           NaN      1909290
62868       2243025          2  2/20/2021           NaN      1909290
62869       2243026          1  2/20/2021           NaN      1737466
62872       2243028          1  2/20/2021           NaN      1728060
62879       2243030          1  2/20/2021           NaN      1216913

       StoreKey  ProductKey  Quantity Currency Code
0            10        1304         1           CAD
6            38         163         6           GBP
7            38        1529         2           GBP
8            33         421         4           EUR
9            43        1617         1           USD
...         ...         ...       ...           ...
62867        49        1128         2           USD
62868        49        2511         2           USD
62869        49          58         6           USD
62872        66        1584         3           USD
62879        43         632         3           USD

[49719 rows x 9 columns]
49719

In [58]:
#delivery date need to be removed

sales_data['Delivery Date'].fillna(0)
sales_data['Delivery Date']=sales_data['Delivery Date'].replace(0,pd.NaT)
sales_data['Delivery Date']=pd.to_datetime(sales_data['Delivery Date'],errors = 'coerce')
sales_data['Order Date']=pd.to_datetime(sales_data['Order Date'],errors = 'coerce')

In [59]:
sales_data

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...,...
62879,2243030,1,2021-02-20,NaT,1216913,43,632,3,USD
62880,2243031,1,2021-02-20,2021-02-24,511229,0,98,4,EUR
62881,2243032,1,2021-02-20,2021-02-23,331277,0,1613,2,CAD
62882,2243032,2,2021-02-20,2021-02-23,331277,0,1717,2,CAD
62883,2243032,3,2021-02-20,2021-02-23,331277,0,464,7,CAD

In [60]:
sales_data.dtypes

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
Delivery Date    datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object

In [69]:
empty_values(location)

    StoreKey Country   State  Square Meters Open Date
66         0  Online  Online            NaN  1/1/2010
1

In [70]:
location

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,1/1/2008
1,2,Australia,Northern Territory,665.0,1/12/2008
2,3,Australia,South Australia,2000.0,1/7/2012
3,4,Australia,Tasmania,2000.0,1/1/2010
4,5,Australia,Victoria,2000.0,12/9/2015
...,...,...,...,...,...
62,63,United States,Utah,2000.0,3/6/2008
63,64,United States,Washington DC,1330.0,1/1/2010
64,65,United States,West Virginia,1785.0,1/1/2012
65,66,United States,Wyoming,840.0,1/1/2014
66,0,Online,Online,NaN,1/1/2010

In [71]:
location['Square Meters'].fillna(0)
location['Square Meters']=location['Square Meters'].replace(0,pd.NaT)
location['Open Date']=pd.to_datetime(location['Open Date'],errors = 'coerce')

In [73]:
location

,StoreKey,Country,State,Square Meters,Open Date
0,1,Australia,Australian Capital Territory,595.0,2008-01-01
1,2,Australia,Northern Territory,665.0,2008-01-12
2,3,Australia,South Australia,2000.0,2012-01-07
3,4,Australia,Tasmania,2000.0,2010-01-01
4,5,Australia,Victoria,2000.0,2015-12-09
...,...,...,...,...,...
62,63,United States,Utah,2000.0,2008-03-06
63,64,United States,Washington DC,1330.0,2010-01-01
64,65,United States,West Virginia,1785.0,2012-01-01
65,66,United States,Wyoming,840.0,2014-01-01
66,0,Online,Online,NaN,2010-01-01

In [74]:
location.dtypes

StoreKey                  int64
Country                  object
State                    object
Square Meters           float64
Open Date        datetime64[ns]
dtype: object

In [80]:
empty_values(customer_info)

      CustomerKey  Gender                Name               City State Code  \
5304       729681  Female    Rossana Padovesi            Polvica        NaN
5316       732289    Male        Indro Piccio          Varcaturo        NaN
5372       742042    Male     Amaranto Loggia          Casaferro        NaN
5377       742886  Female       Edmonda Capon           Terzigno        NaN
5378       743343  Female        Ambra Sagese  Pomigliano D'Arco        NaN
5485       759705    Male    Callisto Lo Duca            Casilli        NaN
5525       765589    Male  Michelino Lucchesi       Pompei Scavi        NaN
5531       766410    Male   Adelmio Beneventi             Licola        NaN
5631       781667  Female          Ilda Manna             Napoli        NaN
5695       789177    Male   Calogero Folliero      Mariglianella        NaN

       State Zip Code Country Continent    Birthday
5304  Napoli    80035   Italy    Europe   4/18/1981
5316  Napoli    80014   Italy    Europe   2/24/1949
5372  Napoli    80034   Italy    Europe   3/14/1936
5377  Napoli    80040   Italy    Europe  08-06-1963
5378  Napoli    80038   Italy    Europe  01-05-1961
5485  Napoli    80047   Italy    Europe   8/28/1976
5525  Napoli    80045   Italy    Europe  11/13/1947
5531  Napoli    80078   Italy    Europe   1/13/1940
5631  Napoli    80134   Italy    Europe  05-08-1977
5695  Napoli    80030   Italy    Europe  03-03-2000
10

In [81]:
#customer_info['State Code'].fillna(0)
#customer_info['State Code']=location['State Code'].replace(0,pd.NaT)
customer_info['Birthday']=pd.to_datetime(customer_info['Birthday'],errors = 'coerce')

In [82]:
customer_info.dtypes

CustomerKey             int64
Gender                 object
Name                   object
City                   object
State Code             object
State                  object
Zip Code               object
Country                object
Continent              object
Birthday       datetime64[ns]
dtype: object

In [85]:
import psycopg2
from psycopg2 import sql

# Database connection parameters
host = "localhost"
user = "postgres"
password = "open"
database = "postgres"  # Connect to the default database to create a new one

# New database name
new_db_name = "GE_Salesdata"

# Connect to the PostgreSQL server
conn = psycopg2.connect(host=host, user=user, password=password, database=database)
conn.autocommit = True  # Enable autocommit mode
cursor = conn.cursor()

# Create the new database
try:
    cursor.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(new_db_name)))
    print(f"Database '{new_db_name}' created successfully.")
except Exception as e:
    print(f"Error creating database: {e}")

# Close the cursor and connection
cursor.close()
conn.close()

Database 'GE_Salesdata' created successfully.

In [87]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import Engine 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT


host = "localhost"
user = "postgres"
password = "open"
db_name = "GE_Salesdata"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{db_name}')
Base = declarative_base()


class CustomerInfo(Base):
    __tablename__ = 'customer_info'
    ID = Column(Integer, primary_key=True, autoincrement=True)
    Customer_key = Column(Integer)
    Gender = Column(String)
    Name = Column(String)
    City = Column(String)
    State_Code = Column(String)
    State = Column(String)
    Zip_Code = Column(String)
    Country = Column(String)
    Continent = Column(String)
    Birthday = Column(DateTime)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

customer_info.to_sql('customer_info', engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

C:\Users\Deepak Prakasam\AppData\Local\Temp\ipykernel_14260\2327160156.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully pushed to PostgreSQL table!

In [88]:
xchange.dtypes

Date        datetime64[ns]
Currency            object
Exchange           float64
dtype: object

In [90]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import Engine 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT


host = "localhost"
user = "postgres"
password = "open"
db_name = "GE_Salesdata"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{db_name}')
Base = declarative_base()


class xchangerate(Base):
    __tablename__ = 'xchange_rate'
    ID = Column(Integer, primary_key=True, autoincrement=True)
    Date = Column(DateTime)
    Currency = Column(String)
    Exchange = Column(Float)
    

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

xchange.to_sql('xchange_rate', engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

C:\Users\Deepak Prakasam\AppData\Local\Temp\ipykernel_14260\3635719476.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully pushed to PostgreSQL table!

In [91]:
location.dtypes

StoreKey                  int64
Country                  object
State                    object
Square Meters           float64
Open Date        datetime64[ns]
dtype: object

In [92]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import Engine 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT


host = "localhost"
user = "postgres"
password = "open"
db_name = "GE_Salesdata"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{db_name}')
Base = declarative_base()


class location_details(Base):
    __tablename__ = 'location'
    ID = Column(Integer, primary_key=True, autoincrement=True)
    StoreKey = Column(Integer)
    Country = Column(String)
    State = Column(Float)
    Square_Meters = Column(Float)
    Open_Date = Column(DateTime)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

location.to_sql('location', engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

C:\Users\Deepak Prakasam\AppData\Local\Temp\ipykernel_14260\1124990514.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully pushed to PostgreSQL table!

In [93]:
sales_data.dtypes

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
Delivery Date    datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object

In [94]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import Engine 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT


host = "localhost"
user = "postgres"
password = "open"
db_name = "GE_Salesdata"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{db_name}')
Base = declarative_base()


class Salesinfo(Base):
    __tablename__ = 'Sales_Data'
    ID = Column(Integer, primary_key=True, autoincrement=True)
    Order_Number = Column(Integer)
    Line_Item = Column(Integer)
    Order_Date = Column(DateTime)
    Delivery_Date = Column(DateTime)
    CustomerKey = Column(Integer)
    StoreKey = Column(Integer)
    ProductKey = Column(Integer)
    Quantity = Column(Integer)
    Currency_Code = Column(String)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

sales_data.to_sql('Sales_Data', engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

C:\Users\Deepak Prakasam\AppData\Local\Temp\ipykernel_14260\49610549.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully pushed to PostgreSQL table!

In [95]:
products.dtypes

ProductKey          int64
Product Name       object
Brand              object
Color              object
Unit Cost USD     float64
Unit Price USD    float64
SubcategoryKey      int64
Subcategory        object
CategoryKey         int64
Category           object
dtype: object

In [96]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, Column, Integer, String, Float, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import Engine 
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT


host = "localhost"
user = "postgres"
password = "open"
db_name = "GE_Salesdata"

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{host}/{db_name}')
Base = declarative_base()


class productinfo(Base):
    __tablename__ = 'Product_Data'
    ID = Column(Integer, primary_key=True, autoincrement=True)
    ProductKey = Column(Integer)
    ProductName = Column(String)
    Brand = Column(String)
    Colour = Column(String)
    Unit_Cost_USD = Column(Float)
    Unit_Price_USD = Column(Float)
    SubcategoryKey = Column(Integer)
    Subcategory = Column(String)
    CategoryKey = Column(Integer)
    Category = Column(String)

Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

products.to_sql('Product_Data', engine,if_exists='replace', index=False)  #['fail', 'replace', 'append']

print("Data successfully pushed to PostgreSQL table!")

C:\Users\Deepak Prakasam\AppData\Local\Temp\ipykernel_14260\542075131.py:17: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

Data successfully pushed to PostgreSQL table!